body {
  background-color: rgb(95,223, 230);
  font-family: 'Numans', sans-serif;
}

.main {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.donut {
  height: 70px;
  cursor: pointer;
}

.duff {
  height: 70px;
  cursor: pointer;
}
.refresh-container{
 text-align: right;
 height: 50px;
 margin-right: 25%;
align-items: center;
font-family: 'Rock Salt', cursive;
}

.get-info-container{
  text-align: left;
 height: 50px;
 margin-left: 25%;
align-items: center;
font-family: 'Rock Salt', cursive;

}
a {
  color: rgb(3, 11, 33);
}

.logo-container{
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo {
  text-align: center;
  height: 200px; 
}
.gallery {
  width: 400px;
}
.photo-container {
 flex-wrap: wrap;
 display: inline-flex;
}

.layout-photo {
  height: 200px;
  width: 200px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 56, 60, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 237, 243);
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.6rem;
  border: solid 2px black
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}