
body {
  background-color: rgb(95,223, 230)
}

.logo-container{
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo {
  text-align: center;
  height: 200px; 
}
.gallery {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.photo-container {
 flex-wrap: wrap;
 display: inline-flex;
 cursor: pointer;
}

.layout-photo {
  background-color: rgb(255, 222, 2);
  border: solid 2px black;
  height: 200px;
  width: 200px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*
img {
  height: 400px;
}

ul {
  margin: 10px 0 10px 30px;
}
li, p {
  margin: 0 0 10px 0;
}
h1 {
  margin: 0 0 20px 0;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  z-index: 100;
  
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.modal.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  background: rgb(95, 223, 230);
  color: black;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.open-button {
  border: 0;
  height: 20px;
  background: lightgreen;
  color: black;
  padding: 5px 5px;
  border-radius: 10px;
  font-size: 10px;
  z-index: 100%;
  cursor: pointer;
}


*/